@using FunWithFiles.Models
@model FileDataViewModel

    <form asp-action="DownloadFileInCurrentState" asp-controller="Home" method="POST">
        <label name="file_type_to_download">Download File As</label>
        <select name="file_type_to_download" >
            <option value="Raw">Raw (html table formatted)</option>
            <option value="Json">JavaScript Object Notation (json)</option>
            <option value="Xml">Extensible Markup Language (xml)</option>
        </select>
        </br>
        <input type="hidden" name="file_type" value="@Model" >
        <input type="hidden" name="download_file_in_current_state" value="@Model" >
        <input type="submit" value="DownloadFile">
        </br>
        <div>Look In Your Downloads Directory</div>
    </form>
    </br>
    </br>
    </br>
    <form asp-action="OrderFile" asp-controller="Home" method="POST">

        <label name="order_by" for="">Order By</label>
        <select name="order_by">
                <option value="RowNumber">RowNumber</option>
                @foreach (string column in @Model.FileHeader.Columns)
                {
                    <option value="@column" >@column</option>
                }
        </select>
        </br>
        <label for="order_direction">Direction To Order By</label>
        <select name="order_direction" id="">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
        </br>
        <label for="filter_by">Filter To Numbers Greater Than</label>
        <input type="text" name="filter_by" value="20">
        </br>
        </br>
        </br>
        <label name="file_type_to_view">View As</label>
        <select name="file_type_to_view" >
            <option value="Raw">Raw (html table formatted)</option>
            <option value="Json">JavaScript Object Notation (json)</option>
            <option value="Xml">Extensible Markup Language (xml)</option>
        </select>        
        </br>
        <input type="hidden" name="read_file_object" value="@Model" >
        <input type="submit" value="OrderFile">
    </form>
    </br>
    </br>
    </br>
